<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.weekly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!--  Add Google Map Library -->
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="com.test.weekly.mapsplaces.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- SinglePlaceActivity -->
        <activity android:name="com.test.weekly.mapsplaces.SinglePlaceActivity" android:label="Place Details">
		</activity>
        
        <!-- PlacesMapActivity -->
        <activity android:name="com.test.weekly.mapsplaces.PlacesMapActivity" android:label="Near Places Map View">
		</activity>
		
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAcrZ5Mz5MPRyHNgyQ8j3kxL7vsAKwFXQw" />
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-permission android:name="com.test.weekly.permission.MAPS_RECEIVE" />
    
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
 
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Access Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission
    android:name="com.test.weekly.permission.MAPS_RECEIVE"
    android:protectionLevel="signature" />
    


</manifest>